<mat-form-field class="date-range-form-field" appearance="fill">
  <mat-label class="label-small">Dates</mat-label>
  <mat-date-range-input [rangePicker]="picker" [min]="minDate">
    <input
      matStartDate
      [formControl]="departureDateControl"
      placeholder="Departure Date"
      (dateChange)="onDateChanged()"
      (blur)="onDateChanged()"
      class="my-datepicker-input-departure"
    />
    <input
      matEndDate
      [formControl]="returnDateControl"
      placeholder="Return date"
      (dateChange)="onDateChanged()"
      (blur)="onDateChanged()"
      class="my-datepicker-input-return"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-hint>{{ selectedDateFormat }} - {{ selectedDateFormat }}</mat-hint>
  <mat-date-range-picker #picker></mat-date-range-picker>
  <mat-error *ngIf="departureDateControl.hasError('required')">
    Please enter the departure date
  </mat-error>
  <mat-error *ngIf="departureDateControl.hasError('minDate')">
    Departure date must not be earlier than today
  </mat-error>
  <mat-error *ngIf="returnDateControl.hasError('required')">
    Please enter the return date
  </mat-error>
  <mat-error *ngIf="returnDateControl.hasError('minDate')">
    Return date must not be earlier than today
  </mat-error>
  <mat-error *ngIf="returnDateControl.hasError('dateRange')">
    The return date must be after the departure date
  </mat-error>
</mat-form-field>
