<mat-form-field appearance="fill">
  <mat-label class="label-small">{{ label }}</mat-label>
  <input
    type="text"
    matInput
    [formControl]="destinationControl"
    [matAutocomplete]="auto"
    placeholder="Choose city"
  />
  <mat-autocomplete
    class="autocomplete"
    #auto="matAutocomplete"
    autoActiveFirstOption
    [displayWith]="displayCityFn"
  >
    <mat-option
      style="height: 5.6rem"
      *ngFor="let option of options | orderBy : 'city'"
      [value]="option"
    >
      <!-- <mat-option
      style="height: 5.6rem"
      *ngFor="let option of filteredOptionsFromWhere | async | orderBy : 'city'"
      [value]="option"
    > -->
      <span style="color: #1c1b1f"> {{ option.city }} ({{ option.key }}) </span>
      <br />
      <span style="color: #74767a"> {{ option.name }}, {{ option.country }} </span>
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="destinationControl.hasError('required')">Please enter the city </mat-error>
  <mat-error *ngIf="destinationControl.hasError('matchOption')">
    City name not recognized. Click one of the autocomplete options
  </mat-error>
</mat-form-field>
