@import "variables";

:host-context(.main) .btn {
  background: $color-neutral-90;
  border-color: $color-neutral-60;
  color: $color-white;
  img {
    filter: $filter-white;
  }
}
:host-context(.booking) .btn {
  color: $color-neutral-10;
  img {
    filter: $filter-grey;
  }
}
:host-context(.cart) .btn {
  color: $color-primary;
  img {
    filter: $filter-blue;
  }
}
