<mat-form-field class="date-range-form-field" appearance="fill">
  <mat-label class="label-small">Date</mat-label>
  <input
    matInput
    [matDatepicker]="departureDatepicker"
    [formControl]="dateControl"
    placeholder="Departure Date"
    [min]="minDate"
    [value]="initialValue"
    (dateChange)="onDateChanged()"
    (blur)="onDateChanged()"
    class="my-datepicker-input-departure"
  />
  <mat-datepicker-toggle matSuffix [for]="departureDatepicker"></mat-datepicker-toggle>
  <mat-hint>{{ selectedDateFormat }}</mat-hint>
  <mat-datepicker #departureDatepicker></mat-datepicker>
  <mat-error *ngIf="dateControl.hasError('required')"> Please enter the departure date </mat-error>
  <mat-error *ngIf="dateControl.hasError('minDate')">
    Departure date must not be earlier than today
  </mat-error>
</mat-form-field>
