@import "variables";

::ng-deep .date-format-menu {
  width: 184px;
  .mdc-list-item__primary-text {
    display: flex;
    gap: 22px;
  }
}
:host-context(.main) .btn {
  color: $color-white;
  img {
    filter: $filter-white;
  }
}
:host-context(.booking) .btn {
  color: $color-neutral-10;
  img {
    filter: $filter-grey;
  }
}
:host-context(.cart) .btn {
  color: $color-primary;
  img {
    filter: $filter-blue;
  }
}
