@import "variables";
@import "mixins";
@import "buttons";

.second-menu {
  height: 68px;
  background-color: $color-secondary-100;
  box-shadow: 0px 1px 0.4rem rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

.container {
  height: 68px;
  display: flex;
  align-items: center;
}

.direction {
  display: flex;
  gap: 16px;
  margin-right: 40px;
}

.city-name {
  @include font($font-size-16, $font-weight-500, $color-black);
  line-height: 24px;
}

.trip-icon {
  @include icon(24px);
}

.return-trip-icon {
  background-image: url("../../../../assets/return_trip.svg");
}

.one-way-trip-icon {
  background-image: url("../../../../assets/one_way_trip.svg");
}

.dates {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 64px;

  p {
    @include font($font-size-14, $font-weight-500, $color-neutral-30);
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 20px;
  }
}

.circle {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: $color-secondary;
}

.account-icon {
  @include icon(16px);
  display: inline-block;
  background-image: url(../../../../assets/account.svg);
}