@import "variables";

:host {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    z-index: 1000;
    transition: all 0.2s;
  }
  .menu {
    gap: 4rem;
  }
  .header.main {
    background-color: $color-neutral-70;
    color: $color-white;
    &.active {
      background-color: $color-neutral-75;
    }
  }
  .header.booking {
    background-color: $color-white;
    color: $color-neutral-10;
  }
  .header.cart {
    background-color: $color-white;
    color: $color-primary;
  }
}
