@import 'variables';

:host {
  .header {
    position: fixed;
    top: 0;
    // z-index: 999;
    z-index: 1000;
    width: 100%;
    height: $header-height;
    transition: all 0.2s;
  }
  .left-side {
    gap: 1.7rem;
  }
  .header.main {
    background-color: $color-neutral-70;
    color: $color-white;
    &.active {
      background-color: $color-neutral-75;
      // z-index: 999;
    }
    .right-side {
      gap: 4rem;
    }
  }
  .header.booking {
    background-color: $color-white;
    color: $color-neutral-10;
    .right-side {
      gap: 1.7rem;
    }
  }
  .header.cart {
    background-color: $color-white;
    color: $color-primary;
    .right-side {
      gap: 4rem;
    }
  }
}
