<header class="header flex-center" [class]="headerClass">
  <div class="container flex-center">
    <app-logo></app-logo>
    <div class="header__menu flex-center">
      <p *ngIf="isShowBookFlights">Book flights</p>
      <app-stepper *ngIf="isShowStepper"></app-stepper>
      <app-date-format-menu></app-date-format-menu>
      <app-currency-menu></app-currency-menu>
      <app-sign-in-button></app-sign-in-button>
      <app-shopping-cart-button></app-shopping-cart-button>
    </div>
  </div>
</header>