<header class="header flex-center" [class]="headerClass" (scroll)="onWindowScroll()">
  <div class="container flex-center">
    <app-logo></app-logo>
    <span class="spacer"></span>
    <div class="menu flex-center">
      <!-- FIXME -->
      <!-- <p *ngIf="isShowBookFlights">Book flights</p> -->
      <!-- <app-stepper *ngIf="isShowStepper"></app-stepper> -->
      <app-stepper></app-stepper>
      <app-date-format-menu></app-date-format-menu>
      <app-currency-menu></app-currency-menu>
      <app-sign-in-button></app-sign-in-button>
      <app-shopping-cart-button></app-shopping-cart-button>
    </div>
  </div>
</header>