<header class="header flex-center" [ngClass]="headerClass" (scroll)="onWindowScroll()">
  <div class="container flex-center">
    <div class="left-side flex-center">
      <app-logo class="app-logo"></app-logo>
      <app-stepper *ngIf="isShowStepper"></app-stepper>
    </div>
    <!-- <span class="spacer"></span> -->
    <div class="right-side flex-center">
      <p *ngIf="isShowBookFlights" class="right-side-text">Book flights</p>
      <app-date-format-menu></app-date-format-menu>
      <app-currency-menu class="currency-menu"></app-currency-menu>
      <app-sign-in-button></app-sign-in-button>
      <app-shopping-cart-button></app-shopping-cart-button>
    </div>
  </div>
</header>
