<mat-horizontal-stepper #stepper (selectionChange)="onStepSelected($event)">
  <mat-step>
    <ng-template matStepLabel>Flights</ng-template>
  </mat-step>
  <mat-step [ngStyle]="{ 'pointer-events': isFlightsFormSubmited ? 'auto' : 'none' }">
    <ng-template matStepLabel>Passengers</ng-template>
  </mat-step>
  <mat-step [ngStyle]="{ 'pointer-events': isPassengersFormSubmited ? 'auto' : 'none' }">
    <ng-template matStepLabel>Review & Payment </ng-template>
  </mat-step>
</mat-horizontal-stepper>
