<div class="promo-container">
  <form class="promo" (ngSubmit)="onSubmitPromo()">
    <input 
      [(ngModel)]="promo"
      placeholder="Promo Code"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="message = ''"/>
    <button mat-flat-button>Apply</button>
  </form>
  <p class="err-message" *ngIf="message">{{message}}</p>
</div>
<form class="form" (ngSubmit)="onSubmit()">
  <p *ngIf="cart$">{{cart$ | selectedCount | async}} selected </p>
  <button class="btn-forward" type="submit" (click)="pay.emit()" [disabled]="isDisabled">
    Payment
  </button>
</form>