@import "variables";
@import "mixins";

.card {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
}

.main-card {
  h4 {
    @include font($font-size-20, $font-weight-700, $color-primary);
    line-height: 2rem;
  }

  p {
    @include font($font-size-14, $font-weight-400, $color-neutral-30);
    line-height: 2rem;
  }

  h3 {
    @include font($font-size-30, $font-weight-700, $color-primary);
    line-height: 3.6rem;
  }
}

.second-card {
  margin-top: 1.3rem;

  transition: all .2s;
  cursor: pointer;

  h4 {
    @include font($font-size-14, $font-weight-500, $color-secondary);
    line-height: 2rem;
  }

  p {
    @include font($font-size-12, $font-weight-100, $color-neutral-30);
    line-height: 1.2rem;
  }

  h3 {
    @include font($font-size-20, $font-weight-700, $color-primary);
    line-height: 2.6rem;
  }

  &:hover {
    z-index: 1;
    background-color: $color-neutral-80;
    transform: scale(1.1);
  }
}

.card-disabled {
  cursor: default;

  h4 {
    @include font($font-size-14, $font-weight-500, $color-secondary-40);
    line-height: 2rem;
  }

  p {
    @include font($font-size-12, $font-weight-100, $color-neutral-30);
    line-height: 1.2rem;
  }

  &:hover {
    background-color: $color-white;
    transform: none;
  }
}

.no-price {
  @include icon(2.4rem);
  background-image: url(../../../../assets/no-flights.svg);
}

.bottom-line {
  width: 100%;
  height: 4px;
}
