@import 'variables';
.form-container {
  background: $color-neutral-65;
  border-radius: 0.8rem;
  padding: 2rem;
  border: 1px solid $color-secondary-40;
}
.form {
  ::ng-deep .mdc-text-field--filled {
    background-color: $color-secondary-90;
    border-radius: 0.4rem;
    border: 1px solid $color-secondary-40;
  }
  ::ng-deep .mdc-text-field--focused {
    border: 1px solid $color-primary;
  }
  ::ng-deep .mat-mdc-form-field:not(.mat-form-field-invalid) .mat-mdc-form-field-subscript-wrapper {
    height: 0rem;
  }
  ::ng-deep .mdc-text-field--invalid {
    border-color: $color-error;
    .label-small {
      color: $color-error;
    }
  }
  ::ng-deep .mdc-text-field--filled .mdc-line-ripple {
    display: none;
  }
}
