@import "mixins";
@import "variables";

.btn {
  @include font($font-size-16, $font-weight-500);
  .mdc-button__label {
    display: flex;
    align-items: center;
    gap: 13px;
  }
}
.btn-search {
  width: 12.6rem !important;
  height: 6rem !important;
}
.btn-counter {
  mat-icon {
    transform: scale(0.8);
  }
}
