@import "variables";

@mixin font(
  $size: $font-size-base,
  $weight: $font-weight-base,
  $color: $font-color-base
) {
  font-family: $font-family-base;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

$font-family-base: Roboto, "Helvetica Neue", sans-serif;
$font-size-base: $font-size-16;
$font-weight-base: $font-weight-400;
$font-color-base: $color-black;

@mixin icon($size: $icon-size-deafult) {
  width: $size;
  height: $size;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin picture($width: $icon-size-deafult, $height: $icon-size-deafult) {
  width: $width;
  height: $height;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

$icon-size-deafult: 24px