@import "variables";

@mixin font(
  $size: $font-size-base,
  $weight: $font-weight-base,
  $color: $font-color-base
) {
  font-family: $font-family-base;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin fontNew(
  $size: $font-size-base,
  $weight: $font-weight-base,
  $line-height: $font-line-height-base,
  $color: $font-color-base
) {
  font-family: $font-family-base;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

$font-family-base: Roboto, "Helvetica Neue", sans-serif;
$font-size-base: $font-size-16;
$font-weight-base: $font-weight-400;
$font-color-base: $color-black;
$font-line-height-base: 2.4rem;

@mixin icon($size: $icon-size-deafult) {
  width: $size;
  height: $size;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

$icon-size-deafult: 24px;

@mixin picture($width: $icon-size-deafult, $height: $icon-size-deafult) {
  width: $width;
  height: $height;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

$transparent-white: #ffffff00;

@mixin stepButton($background-color: $transparent-white, $font-color: $color-primary ) {
  width: 12.6rem;
  height: 6rem;
  border-radius: 4px;
  cursor: pointer;
  @include font($font-size-16, $font-weight-500, $font-color);
  line-height: 20px;
  border: none;
  background: $background-color;
}

