$color-primary: #11397e;
$color-error: #b3261e;
$color-red: rgba(179, 38, 30, 0.3);
$color-black: #000000;

$color-secondary: #0090bd;
$color-secondary-10: #7abfd4;
$color-secondary-40: #d0d9df;
$color-secondary-50: #e1e5eb;
$color-secondary-60: #e9edf1;
$color-secondary-80: #f1f3f6;
$color-secondary-90: #f4f6f9;

$color-neutral-0: #1c1b1f;
$color-neutral-10: #49454f;
$color-neutral-20: #454a53;
$color-neutral-30: #74767a;
$color-neutral-40: rgba(116, 118, 122, 0.6);
$color-neutral-50: rgba(0, 0, 0, 0.25);
$color-neutral-60: #cecece;
$color-neutral-70: rgba(116, 118, 122, 0.2);
$color-neutral-80: #f5f5f5;
$color-neutral-90: rgba(241, 243, 246, 0.15);
$color-neutral-100: #ffffff;

$color-highlight-green-0: #7f8906;
$color-highlight-green-30: rgba(127, 137, 6, 0.3);
$color-highlight-yellow-0: #f1c933;
$color-highlight-yellow-30: rgba(241, 201, 51, 0.3);
$color-highlight-gradient: linear-gradient(
  108.75deg,
  #0090bd 59.91%,
  #073590 95.36%
);

$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;
