<div [ngClass]="{
  wrapper: true,
  'login-height':
    authService.isAuthModalVisible
    && authService.authActionValue === AuthAction.Login,
  'signup-height':
    authService.isAuthModalVisible
    && authService.authActionValue === AuthAction.Signup,
}">
  <app-header></app-header>
  <div class="login-modal" *ngIf="authService.isAuthModalVisible">
    <div class="back-black" (click)="closeModal()"></div>
    <app-sign-in></app-sign-in>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>
