<div class="item" *ngIf="item">
  <div class="tick">
    <mat-checkbox
      [checked]="select"
      color="primary"
      (change)="selectEmitter.emit($event.checked)"
    ></mat-checkbox>
  </div>
  <div class="item-data">
    <div class="flight-no">{{ item.flights[0].flightNumber }}</div>
    <div class="flights-list" *ngIf="item?.flights">
      <p>{{ item.flights[0].form.city }} &mdash; {{ item.flights[0].to.city }}</p>
      <p *ngIf="item.flights[1]">
        {{ item.flights[1].form.city }} &mdash; {{ item.flights[1].to.city }}
      </p>
    </div>
    <div class="flights-type">
      <p *ngIf="item.flights[1]">Round Trip</p>
      <p *ngIf="!item.flights[1]">One way</p>
    </div>
    <div class="date-time">
      <p *ngIf="item.flights[0]">
        {{ item.flights[0].takeoffDate | date : 'd MMM, y, H:mm':'+0000' }} &mdash;
        {{ item.flights[0].landingDate | date : 'H:mm':'+0000' }}
      </p>
      <p *ngIf="item.flights[1]">
        {{ item.flights[1].takeoffDate | date : 'd MMM, y, H:mm':'+0000' }} &mdash;
        {{ item.flights[1].landingDate | date : 'H:mm':'+0000' }}
      </p>
    </div>
    <div class="passengers">
      <p *ngIf="item.cartPriceData.adults > 0">{{ item.cartPriceData.adults }} x Adult</p>
      <p *ngIf="item.cartPriceData.children > 0">{{ item.cartPriceData.children }} x Child</p>
      <p *ngIf="item.cartPriceData.infants > 0">{{ item.cartPriceData.infants }} x Infant</p>
    </div>
    <div class="price">
      {{ item.cartPriceData.totalPrice | price | async }}
    </div>
  </div>
  <div class="menu">
    <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item (click)="edit.emit()">Edit</button> -->
      <button mat-menu-item (click)="edit.emit()">Edit</button>
      <button mat-menu-item (click)="delete.emit()">Delete</button>
    </mat-menu>
  </div>
</div>
<div class="bottom-line"></div>
