<section class="main-page">
  <div class="main-page__background"></div>
  <div class="container">
    <p>main-page works!</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati porro, dicta ea dolorum vitae aperiam ratione
    quidem ipsa soluta, asperiores qui inventore eaque cum. Ab minima harum veritatis asperiores earum natus consequatur
    aperiam. Ullam, corporis! Magnam in, facere earum at, eligendi et consectetur libero neque beatae nulla ad tenetur
    repellat, quam veniam unde vel quas ipsum fugit harum voluptatem possimus repudiandae! Natus eum unde quisquam
    reprehenderit et quasi, laboriosam soluta debitis nam vel, harum at earum illum fugit obcaecati eligendi corporis?
    Debitis ipsa excepturi sunt atque et impedit veniam quia saepe accusamus, enim commodi adipisci molestiae quidem
    omnis natus tenetur a eveniet corrupti! Iusto praesentium unde eos, enim cum ea, fugit molestiae maxime cupiditate
    facere nemo odio fugiat similique. Voluptas recusandae saepe qui, fugiat ratione necessitatibus reiciendis nisi.
    Numquam distinctio esse dolores nisi iusto natus voluptates accusantium facilis modi magni veritatis perferendis eos
    suscipit, a odio sequi inventore reiciendis sed asperiores exercitationem debitis quibusdam! Porro, ducimus
    voluptatibus. Dolorum ratione at totam sapiente ipsum magni doloribus aliquam deserunt atque odit. Dolorum, non!
    Ipsa necessitatibus laudantium similique modi! Nesciunt similique sequi corrupti distinctio veniam atque cum, sunt
    ipsa facilis quisquam perspiciatis a voluptatem, inventore nihil, eveniet beatae non vero! Repudiandae quidem quod
    repellendus maiores corporis hic vero quas fugit libero id optio laudantium alias facere, minima nobis sequi labore
    fugiat vitae? Quae nesciunt dolor, totam itaque expedita accusantium sapiente consectetur facere placeat iste
    blanditiis illo eveniet enim laudantium vitae quasi velit beatae perspiciatis. Fugiat odit ad debitis aliquam ipsa
    voluptas eaque facilis, sit sequi? Ex necessitatibus, neque nisi tenetur sapiente voluptatibus nesciunt, repellat
    natus dignissimos, accusamus reprehenderit numquam. Obcaecati quae aut, saepe expedita natus doloribus reprehenderit
    error iure iste dolor fugiat at quam unde provident quisquam facere tempore esse necessitatibus delectus laudantium
    consectetur excepturi quos est in? Rerum doloremque temporibus corrupti voluptatem odio provident odit fugit eveniet
    deserunt iusto quos quibusdam distinctio eum amet quia, pariatur non itaque earum minima quasi aliquid consequuntur
    et modi! Dolores rerum delectus neque autem, cumque hic minus ratione odit nobis, ipsa iusto consequatur, enim
    voluptas ipsam accusamus ad iste eligendi? Expedita officia, architecto consectetur voluptate quisquam deleniti.
    Temporibus, omnis quidem cumque, sed asperiores minima velit cum blanditiis pariatur enim a facilis rerum harum
    voluptatibus culpa. Nulla qui culpa similique dolore. Vitae recusandae eveniet magni accusantium cupiditate
    laboriosam dignissimos, ipsa a placeat tempore blanditiis laborum incidunt excepturi dolorum doloribus eius magnam
    suscipit cumque maxime? Eius velit, impedit praesentium adipisci, iste accusamus eveniet ut magnam in assumenda
    temporibus ad harum quisquam placeat. Tempore explicabo voluptate quam dolorem facilis dolorum! Dolorum minus,
    molestiae, cupiditate quod iusto odit vero molestias quam earum nisi numquam fugit a deserunt blanditiis quas
    excepturi est velit ipsam rerum officiis mollitia dolore necessitatibus saepe? A fuga possimus voluptatem voluptate
    fugiat porro nulla provident doloribus? Soluta iste nobis facere quisquam placeat impedit, maxime eaque itaque
    provident expedita repudiandae nemo ea voluptatum atque a inventore reprehenderit recusandae quo sequi corporis odio
    veritatis eos, optio asperiores! Eveniet provident fuga placeat, alias dolorum optio ipsam asperiores natus
    incidunt. Pariatur, eius ullam. Assumenda totam, minima qui autem nulla, dolor dolore excepturi at voluptatem vitae
    est dicta repellendus, aspernatur veritatis ipsum dignissimos quod repudiandae quia illo provident voluptas officia
    consectetur? Necessitatibus cum rem velit quia libero ea ex amet quis nostrum laborum reiciendis, non deleniti
    assumenda, magnam doloribus, neque sed. Exercitationem, amet adipisci, quasi quae harum sit optio repudiandae quis
    qui quibusdam laboriosam blanditiis? Pariatur accusantium, reiciendis architecto placeat necessitatibus hic
    veritatis magni aspernatur quaerat. Possimus exercitationem quaerat, odit suscipit, odio omnis impedit iure
    aspernatur recusandae obcaecati cum, eum animi sit? Neque praesentium, id saepe voluptatum temporibus ab architecto
    earum iure labore quas modi quaerat repudiandae enim minus perspiciatis fuga, fugit illo nisi repellendus
    consequuntur similique expedita? Repellendus iusto obcaecati hic architecto sed magnam. Dolor ipsam tempore earum
    quam maxime, temporibus itaque fugiat quis aspernatur, velit consequuntur impedit iusto architecto aut quod vero
    quibusdam molestias quae repellendus? Similique nisi voluptatum fuga omnis, numquam repudiandae. Suscipit reiciendis
    ipsam recusandae exercitationem nam ex eveniet veniam, iure impedit, laborum porro non doloremque tenetur quae
    consectetur magni aut quia expedita cupiditate necessitatibus quos voluptate eius repellendus. Tenetur unde neque
    esse aspernatur fugiat culpa sed hic nostrum sit vitae? Unde recusandae a laboriosam fugiat? Ad libero sed
    similique, pariatur reprehenderit numquam doloribus autem nisi nam vel dolor voluptate cumque aspernatur alias eos
    fugit, in quam dignissimos fugiat ipsum! Facere rerum, quam, odio laborum ullam corporis labore eius nemo aut, ut
    facilis unde quas sint velit voluptatibus sapiente reiciendis possimus minus voluptas natus provident? Aspernatur
    tenetur illo officia cupiditate quo voluptatem aut eaque et, optio eius perferendis sint modi ducimus, rerum omnis
    odit incidunt, magnam nisi nobis dolorum nesciunt vel. Nemo consectetur qui facilis dolore, velit harum. Suscipit
    reiciendis harum ipsum pariatur aspernatur minus? Obcaecati, quasi, dicta eum eaque quaerat laboriosam illo corrupti
    fugit consequatur voluptatibus amet repellat ad voluptates saepe quo hic autem provident porro? Ea totam reiciendis
    hic obcaecati aspernatur amet doloremque vel adipisci, mollitia ex voluptas recusandae magnam! Quod, pariatur, amet
    doloribus atque repellat alias magnam, porro explicabo accusamus earum eum. Numquam ex ipsum illo culpa accusantium
    recusandae quam laudantium nihil, consectetur enim dolores, quibusdam, vitae rem excepturi totam aliquam dolore. At,
    unde voluptatibus exercitationem voluptatum nostrum eum accusantium, aut ipsa aspernatur, suscipit quisquam totam
    eaque consequatur! Fugiat maxime hic accusamus quas nam numquam ducimus suscipit ex. In modi consectetur quidem?
    Asperiores debitis hic quas tenetur distinctio, deserunt impedit laboriosam modi quia molestias explicabo!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos delectus nemo ipsum ratione est accusantium excepturi,
    dolores magni quia dignissimos eveniet. Labore quibusdam eveniet iusto! Incidunt alias maxime pariatur libero
    corporis porro distinctio eius fugit officia, similique laboriosam, minima dicta obcaecati nisi molestiae earum
    molestias accusantium accusamus dolor necessitatibus soluta. Explicabo veniam, minima cupiditate dolor aut,
    repudiandae, id illum et corrupti quasi commodi. Quo voluptatum ad ipsum earum neque. Exercitationem temporibus
    commodi ullam, reiciendis esse sint aut amet ea veniam ex! Corporis aliquam dolorum eveniet doloribus, incidunt
    repellat voluptas molestiae corrupti adipisci harum vero obcaecati tempore, sapiente, dolore numquam beatae.
  </div>
</section>