@import 'variables';

.main-page {
  min-height: calc(100vh - $header-height - $footer-height);
  position: relative;
  padding: 6rem 0 1rem;

  &::before {
    content: '';
    position: absolute;
    top: -$header-height;
    left: 0;
    width: 100%;
    height: calc(100% + $header-height);
    background-image: url('../../../../assets/Background.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
  }
}
