<section>
  <h2 class="flex-center">
    <div class="passengers-icon"></div>
    Passengers
  </h2>
  <p class="sub-title">Enter the passenger's names as they appear on document (passport or ID).</p>

  <div class="passengers-forms-container" *ngIf="hasPassengers()">
    <app-passenger-form
      *ngFor="let passenger of passengers; let i = index"
      [passengerIndex]="i + 1"
      [passengerTitle]="passenger.title"
    ></app-passenger-form>
  </div>

  <h2 class="flex-center">
    <div class="contact-details-icon"></div>
    Contact details
  </h2>
  <p class="sub-title">
    We need contact details to be able to deliver the latest information regarding your flight.
  </p>

  <div class="contact-details-form-container" *ngIf="hasPassengers()">
    <app-contact-details-form></app-contact-details-form>
  </div>

  <div>
    <button mat-raised-button (click)="goBack()">Back</button>
    <button mat-raised-button color="primary" [disabled]="false" (click)="goNext()">Next</button>
  </div>
</section>
