@import 'variables';
:host {
  background-color: $color-neutral-80;
  .footer {
    height: $footer-height;
    border-top: 0.1rem solid $color-secondary-40;
    //Check
    background-color: $color-neutral-80;
  }
  .payment-method {
    gap: 2.7rem;
    ul {
      gap: 1.6rem;
    }
  }
  .developers-info {
    gap: 2.7rem;
  }
}
