<footer class="footer flex-center">
  <div class="container flex-center">
    <p class="copyright-text">© 2023, AIRWAY. All rights reserved.</p>
    <span class="spacer"></span>
    <ul class="developers-info flex-center">
      <li>
        <a class="developer-link flex-center" href="https://github.com/jerubrin" target="_blank"
          ><img width="35" height="35" alt="GitHub logo" src="./assets/github_logo.png" />
          <span>Alexey Kuptsov</span>
        </a>
      </li>
      <li>
        <a
          class="developer-link flex-center"
          href="https://github.com/Julia-Kopichenko"
          target="_blank"
          ><img width="35" height="35" alt="GitHub logo" src="./assets/github_logo.png" />
          <span>Julia-Kopichenko</span>
        </a>
      </li>
    </ul>
    <span class="spacer"></span>
    <div class="payment-method flex-center">
      <p class="body-medium">We accept these payment methods</p>
      <ul class="flex-center">
        <li><img src="./assets/icon_mastercard.svg" alt="icon mastercard" /></li>
        <li><img src="./assets/icon_amason_pay.svg" alt="icon amason pay" /></li>
        <li><img src="./assets/icon_american_express.svg" alt="icon american express" /></li>
        <li><img src="./assets/icon_visa.svg" alt="icon visa" /></li>
      </ul>
    </div>
  </div>
</footer>
