@import 'variables';
:host {
  .footer {
    height: $footer-height;
    border-top: 0.1rem solid $color-secondary-40;
    background-color: $color-neutral-80;
    @media screen and (max-width: 700px) {
      min-height: $footer-height;
      height: auto;
      padding: 2rem 0;
    }
  }
  .payment-method {
    gap: 2.7rem;
    ul {
      gap: 1.6rem;
    }
  }
  .developers-info {
    gap: 2.7rem;
  }
  .developer-link {
    gap: 0.7rem;
    text-decoration: none;
    color: $color-primary;
    img {
      color: $color-primary;
    }
  }
}

@media screen and (max-width: 480px) {
  .accept-text {
    display: none;
  }
}

.footer-container {
  @media screen and (max-width: 700px) {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0.8rem;
  }
}
