@import 'variables';
@import 'mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  min-height: 17rem;
  background-color: $color-neutral-100;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 3.2rem 4.4rem 3.5rem 4.4rem;
}
.title {
  @include fontNew($font-size-24, $font-weight-700, $line-height-28, #10264c);
}
.form-fields-wrapper {
  gap: 2rem;
}

::ng-deep .mat-mdc-form-field {
  min-width: 25.5rem;
}
::ng-deep .mdc-text-field--filled {
  background-color: $color-secondary-90;
  border-radius: 0.4rem;
  border: 0.1rem solid $color-secondary-40;
}
::ng-deep .mdc-text-field--focused {
  background-color: $color-secondary-50;
  border: 0.1rem solid $color-primary;
}
::ng-deep .mdc-text-field--invalid {
  border-color: $color-error;
  .label-small {
    color: $color-error;
  }
}
