@import 'variables';
@import 'mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  min-height: 17rem;
  background-color: $color-neutral-100;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 3.2rem 4.4rem 3.5rem 4.4rem;

  ::ng-deep .mat-mdc-form-field {
    min-width: 25.5rem;
  }
  ::ng-deep .mdc-text-field--filled {
    background-color: $color-secondary-90;
    border-radius: 0.4rem;
    border: 1px solid $color-secondary-40;
  }
  ::ng-deep .mdc-text-field--outlined {
    background-color: $color-secondary-90;
  }
  ::ng-deep .mdc-text-field--focused {
    border: 1px solid $color-primary;
  }
  ::ng-deep .mdc-text-field--invalid {
    border-color: $color-error;
  }
  ::ng-deep .mdc-text-field--filled .mdc-line-ripple {
    display: none;
  }
}
.title {
  @include fontNew($font-size-24, $font-weight-700, $line-height-28, #10264c);
}
.form-fields-wrapper {
  display: flex;
  gap: 2rem;
}
.slide-toggle-wrapper {
  gap: 3rem;
}

.gender {
  height: 5.8rem;
  .gender-item {
    width: 10.8rem;
    background-color: $color-secondary-90;
    img {
      margin-right: 1rem;
    }
  }
  .mat-button-toggle-checked {
    color: $color-primary;
  }
  ::ng-deep.mat-button-toggle-button[aria-pressed='false'] img {
    display: none;
  }
}

//slide-toggle
::ng-deep .mdc-form-field {
  gap: 2rem;
}
::ng-deep .mdc-form-field > label {
  @include fontNew($font-size-12, $font-weight-400, $line-height-16, $color-black);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
::ng-deep .mdc-switch {
  width: 5.2rem !important;
}
::ng-deep .mdc-switch__track {
  height: 3.2rem !important;
  border-radius: 10rem !important;
  border: 2px solid $color-neutral-30;
}
::ng-deep .mdc-switch--checked .mdc-switch__track {
  border: 2px solid $color-primary !important;
}
::ng-deep .mdc-switch__track::before {
  background-color: $color-secondary-90 !important;
}
::ng-deep .mdc-switch__track::after {
  background: $color-primary !important;
}
::ng-deep .mdc-switch--checked .mdc-switch__icon {
  fill: $color-neutral-10 !important;
}
::ng-deep .mdc-switch__handle-track {
  left: 2px !important;
}
::ng-deep .mdc-switch--checked .mdc-switch__handle-track {
  left: -4px !important;
}
::ng-deep.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background-color: $color-white !important;
}

.icon-error {
  color: $color-error;
}
::ng-deep .mdc-tooltip__surface {
  background: $color-white !important;
  color: $color-neutral-0 !important;
  border-radius: 4px !important;
  border: 1px solid $color-neutral-60 !important;
  padding: 1rem 1.5rem !important;
  font-size: 1.2rem !important;
  text-align: left !important;
}
