<form [formGroup]="passengerForm" class="form">
  <h3 class="title">{{ passengerIndex + 1 }}. {{ passengerTitle }}</h3>
  <div class="form-fields-wrapper">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input
        matInput
        type="text"
        formControlName="firstName"
        placeholder="Enter your First Name"
        (input)="passengerForm.get('firstName')?.markAsTouched()"
      />
      <mat-error
        *ngIf="passengerForm?.get('firstName')?.invalid && passengerForm?.get('firstName')?.touched"
      >
        {{ getErrorMessage('firstName') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input
        matInput
        formControlName="lastName"
        placeholder="Enter your Last Name"
        (input)="passengerForm.get('lastName')?.markAsTouched()"
      />
      <mat-error
        *ngIf="passengerForm?.get('lastName')?.invalid && passengerForm?.get('lastName')?.touched"
      >
        {{ getErrorMessage('lastName') }}
      </mat-error>
    </mat-form-field>

    <mat-button-toggle-group
      class="gender label-medium"
      formControlName="gender"
      name="gender"
      aria-label="Gender"
    >
      <mat-button-toggle class="gender-item flex-center" [value]="gender.Male"
        ><img src="./assets/icon_tick.svg" alt="tick" /> Male</mat-button-toggle
      >
      <mat-button-toggle class="gender-item flex-center" [value]="gender.Female"
        ><img src="./assets/icon_tick.svg" alt="tick" /> Female</mat-button-toggle
      >
    </mat-button-toggle-group>

    <mat-form-field appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [max]="today" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="
          passengerForm?.get('dateOfBirth')?.invalid && passengerForm?.get('dateOfBirth')?.touched
        "
      >
        {{ getErrorMessage('dateOfBirth') }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
