@import 'variables';

::ng-deep .currency-menu {
  min-width: unset !important;
  width: 6.4rem;
}
:host-context(.main) .btn {
  background: $color-neutral-90;
  border-color: $color-neutral-60;
  color: $color-white;
}
:host-context(.booking) .btn {
  color: $color-neutral-10;
}
:host-context(.cart) .btn {
  color: $color-primary;
}
