@import 'variables';
.form-container {
  background: $color-neutral-65;
  border-radius: 0.8rem;
  padding: 2rem;
  border: 1px solid $color-secondary-40;
}
.form {
  gap: 2rem;

  ::ng-deep .mdc-text-field--filled {
    background-color: $color-secondary-90;
    border-radius: 0.4rem;
    border: 0.1rem solid $color-secondary-40;
  }
  ::ng-deep .mdc-text-field--focused {
    background-color: $color-secondary-50;
    border: 0.1rem solid $color-secondary;
  }
}
