<div class="form-container">
  <form class="form flex-center" [formGroup]="editSearchForm" (ngSubmit)="onSubmit()">
    <app-destination-form-field
      #fromWhere
      [initialValue]="fromWhereInitialValue"
      [options]="options"
      [label]="'From'"
    ></app-destination-form-field>

    <span class="spacer"></span>

    <app-destination-form-field
      #destination
      [initialValue]="fromWhereInitialValue"
      [options]="options"
      [label]="'Destination'"
    ></app-destination-form-field>

    <span class="spacer"></span>

    <!-- SECTION - Date -->
    <app-datepicker [initialValue]="forwardDateInitialValues"></app-datepicker>

    <span class="spacer"></span>

    <!-- SECTION - Passengers -->
    <app-passengers-form-field
      [adults]="1"
      [children]="0"
      [infants]="0"
    ></app-passengers-form-field>

    <!-- <button
      class="btn btn-search"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!editSearchForm.valid"
    >
      Edit
    </button> -->
  </form>
</div>
