<div class="flights-list">
  <app-flight-container
    *ngIf="flights[0]"
    [flight]="flights[0]"
    [isForward]="true"
    (selectEmitter)="flightSearchService.selectFlight(0, $event)"
    [isSelected]="!!flightSearchService.selectedFlights[0]"
  >
  </app-flight-container>
  <app-flight-container
    *ngIf="flights[1]"
    [flight]="flights[1]"
    [isForward]="false"
    (selectEmitter)="flightSearchService.selectFlight(1, $event)"
    [isSelected]="!!flightSearchService.selectedFlights[1]"
  >
  </app-flight-container>
</div>

<form class="form" (ngSubmit)="onSubmit()">
  <button class="btn-transparent" (click)="goBack()">Back</button>
  <button class="btn-forward" [disabled]="!flightSearchService.isValid">
    Continue
  </button>
</form>
