@import "buttons";
@import "variables";
@import "mixins";

.flights-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 4rem;
}

.no-flights {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: calc(100vh - $header-height - $footer-height - 14.8rem);
  @media screen and (max-width: 1100px) {
    min-height: calc(100vh - $header-height-1100 - $footer-height - 14.8rem);
  }
}

.no-flights-img {
  width: 4.8rem;
  height: 4.8rem;
  background: url(../../../../assets/no-flights.svg) center no-repeat;
  background-size: contain;
}

.no-flights-text {
  @include font($font-size-20, $font-weight-700, $color-neutral-55);
}