<div class="container">
  <div class="cart">
    <h3 class="cart-title">Cart</h3>
    <div class="cart-header">
      <app-sort-title class="h-col h-col-no" title="No."></app-sort-title>
      <app-sort-title class="h-col h-col-flight" title="Flight"></app-sort-title>
      <app-sort-title class="h-col h-col-type" title="Type trip"></app-sort-title>
      <app-sort-title class="h-col h-col-date-time" title="Data & Time"></app-sort-title>
      <app-sort-title class="h-col h-col-passengers" title="Passengers" [hideSort]="true"></app-sort-title>
      <app-sort-title class="h-col h-col-price" title="Price"></app-sort-title>
    </div>
    <div class="cart-item-list">
      <app-cart-item
        class="cart-item"
        *ngFor="let item of store.cart$ | async"
        [item]="item"
        [select]="item.isChecked"
        (edit)="edit(item.id)"
        (delete)="delete(item.id)"
        (selectEmitter)="selectCartItem(item.id, $event)"
      ></app-cart-item>
    </div>
    <app-total-price class="price-block" [cart$]="store.cart$" (addNew)="addNew()"></app-total-price>
    <div class="bottom-line"></div>
    <app-promo-and-pay class="bottom-block" [cart$]="store.cart$"></app-promo-and-pay>
  </div>
</div>