@use "theme";
@import "~normalize.css";
@import "variables";
@import "mixins";
@import "typography";
@import "buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 10px;
}
body {
  @include font();
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  padding-top: $header-height;
}
.container {
  width: 100%;
  max-width: 119rem;
  padding: 0 3rem;
  margin: 0 auto;
  overflow: hidden;
}
li {
  list-style: none;
}
.flex-center {
  display: flex;
  align-items: center;
}
.spacer {
  flex: 1 1 auto;
}
.display-none {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 10rem;
  overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 1rem;
  height: 21rem;
}
