@import "mixins";
@import "variables";

.title {
  display: flex;
  align-items: center;
  gap: 14px;
  @include font($font-size-24, $font-weight-700, $color-primary);
  line-height: 28px;

  margin-bottom: 16px;
}

.forward-icon {
  @include icon(20px);
  background-image: url(../../../../assets/airplane-forward.svg);
}

.back-icon {
  @include icon(20px);
  background-image: url(../../../../assets/airplane-back.svg);
}