<form [formGroup]="contactDetailsForm" class="form">
  <div class="form-fields-wrapper flex-center">
    <mat-form-field appearance="fill">
      <mat-label>Country code</mat-label>
      <mat-select formControlName="countryCode">
        <mat-option *ngFor="let countryCode of countryCodes" [value]="countryCode.code">
          {{ countryCode.name }} ({{ countryCode.code }})
        </mat-option>
      </mat-select>
      <mat-error *ngIf="contactDetailsForm?.get('countryCode')?.errors"
        >Please select country code</mat-error
      >
    </mat-form-field>

    <mat-form-field *ngIf="contactDetailsForm?.get('countryCode')?.value" appearance="fill">
      <mat-label>Mobile phone number</mat-label>
      <input
        matInput
        formControlName="phone"
        type="tel"
        placeholder="1111111111"
        maxlength="10"
        minlength="3"
        (input)="contactDetailsForm.get('phone')?.markAsTouched()"
      />
      <mat-error
        *ngIf="
          contactDetailsForm?.get('phone')?.invalid && contactDetailsForm?.get('phone')?.touched
        "
      >
        {{ getErrorMessage('phone') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="email-form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="example@email.com"
        (input)="contactDetailsForm.get('email')?.markAsTouched()"
      />
      <mat-error
        *ngIf="
          contactDetailsForm?.get('email')?.invalid && contactDetailsForm?.get('email')?.touched
        "
      >
        {{ getErrorMessage('email') }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
