@import 'variables';
@import 'mixins';

.form {
  min-height: 12rem;
  background-color: $color-neutral-100;
  padding: 3.2rem 4.4rem 1.2rem 4.4rem;

  ::ng-deep .mat-mdc-form-field {
    min-width: 25.5rem;
  }
  ::ng-deep .mdc-text-field--filled {
    background-color: $color-secondary-90;
    border-radius: 0.4rem;
    border: 0.1rem solid $color-secondary-40;
  }
  ::ng-deep .mdc-text-field--focused {
    border: 0.1rem solid $color-primary;
  }
  ::ng-deep .mdc-text-field--invalid {
    border-color: $color-error;
  }
  ::ng-deep .mdc-text-field--filled .mdc-line-ripple {
    display: none;
  }
}
.form-fields-wrapper {
  gap: 2rem;
}
.email-form-field {
  width: 41.8rem;
}
