<div class="form-container">
  <form class="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <!-- SECTION - Type Of Flights -->
    <mat-radio-group class="radio-group-container flex-center" aria-label="Select an option"
      [formControlName]="typeOfFlightsControlName">
      <mat-radio-button value="roundTrip" color="primary">Round Trip</mat-radio-button>
      <mat-radio-button value="oneWay">One Way</mat-radio-button>
    </mat-radio-group>

    <div class="destinations-container">
      <button type="button" class="btn-reverse flex-center" (click)="switchDestinationsFields()"
        [disabled]="!fromWhereControl.valid || !destinationControl.valid">
        <img src="./assets/button_reverse.svg" alt="button_reverse" />
      </button>
      <!-- SECTION - From Where -->
      <mat-form-field appearance="fill">
        <mat-label class="label-small">From </mat-label>
        <input type="text" matInput [formControlName]="fromWhereControlName" [matAutocomplete]="auto1"
          placeholder="Choose departure city" />
        <mat-autocomplete class="autocomplete" #auto1="matAutocomplete" autoActiveFirstOption
          [displayWith]="displayCityFn">
          <mat-option style="height: 5.6rem" *ngFor="let option of filteredOptionsFromWhere | async | orderBy : 'city'"
            [value]="option">
            <span style="color: #1c1b1f">
              {{ option.city }} ({{ option.key }})
            </span>
            <br />
            <span style="color: #74767a">
              {{ option.name }}, {{ option.country }}
            </span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="fromWhereControl.hasError( validation_msgs.destinationsControl.required)">
          {{ validation_msgs.destinationsControl.requiredMessage }}
        </mat-error>
        <mat-error *ngIf="fromWhereControl.hasError(validation_msgs.destinationsControl.matchOption)">
          {{validation_msgs.destinationsControl.matchOptionMessage}}</mat-error>
      </mat-form-field>

      <!-- SECTION - Destination -->
      <mat-form-field appearance="fill">
        <mat-label class="label-small">Destination</mat-label>
        <input type="text" matInput [formControlName]="destinationControlName" [matAutocomplete]="auto2"
          placeholder="Choose your destination" />
        <mat-autocomplete class="autocomplete" #auto2="matAutocomplete" autoActiveFirstOption
          [displayWith]="displayCityFn">
          <mat-option style="height: 5.6rem" class="multiline-mat-option" *ngFor="
              let option of filteredOptionsDestination
                | async
                | orderBy : 'city'" [value]="option">
            <span style="color: #1c1b1f">{{ option.city }} ({{ option.key }})</span>
            <br />
            <span style="color: #74767a">{{ option.name }}, {{ option.country }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="destinationControl.hasError(validation_msgs.destinationsControl.required)">
          {{ validation_msgs.destinationsControl.requiredMessage }}
        </mat-error>
        <mat-error *ngIf="destinationControl.hasError(validation_msgs.destinationsControl.matchOption)">
          {{ validation_msgs.destinationsControl.matchOptionMessage }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex-center">
      <!-- SECTION - Date -->
      <mat-form-field *ngIf="isRoundTrip()" class="date-range-form-field" appearance="fill">
        <mat-label class="label-small">Dates</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="today">
          <input matStartDate [formControlName]="departureDateControlName" #inputDeparture1 placeholder="Departure Date"
            (dateChange)="onDateChanged()" (blur)="onDateChanged()" class="my-datepicker-input-departure" />
          <input matEndDate [formControlName]="returnDateControlName" placeholder="Return date" #inputReturn
            (dateChange)="onDateChanged()" (blur)="onDateChanged()" class="my-datepicker-input-return" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-hint>{{ selectedDateFormat }} - {{ selectedDateFormat }}</mat-hint>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="departureDateControl.hasError(validation_msgs.departureDateControl.required)">
          {{ validation_msgs.departureDateControl.requiredMessage }}
        </mat-error>
        <mat-error *ngIf="departureDateControl.hasError(validation_msgs.departureDateControl.minDate)">
          {{ validation_msgs.departureDateControl.minDateMessage }}
        </mat-error>
        <mat-error *ngIf="returnDateControl.hasError(validation_msgs.returnDateControl.required)">
          {{ validation_msgs.returnDateControl.requiredMessage }}
        </mat-error>
        <mat-error *ngIf=" returnDateControl.hasError(validation_msgs.returnDateControl.minDate)">
          {{ validation_msgs.returnDateControl.minDateMessage }}
        </mat-error>
        <mat-error *ngIf="returnDateControl.hasError(validation_msgs.returnDateControl.dateRange)">
          {{ validation_msgs.returnDateControl.dateRangeMessage }}</mat-error>
        <mat-error *ngIf="returnDateControl.hasError('invalidDateFormat')">
          'invalidDateFormat'
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="isOneWay()" class="date-range-form-field" appearance="fill">
        <mat-label class="label-small">Date</mat-label>
        <input matInput [matDatepicker]="departureDatepicker" [formControlName]="departureDateControlName"
          #inputDeparture2 placeholder="Departure Date" [min]="today" (dateChange)="onDateChanged()"
          (blur)="onDateChanged()" class="my-datepicker-input-departure" />
        <mat-datepicker-toggle matSuffix [for]="departureDatepicker"></mat-datepicker-toggle>
        <mat-hint>{{ selectedDateFormat }}</mat-hint>
        <mat-datepicker #departureDatepicker></mat-datepicker>
        <mat-error *ngIf="departureDateControl.hasError(validation_msgs.departureDateControl.required)">
          {{ validation_msgs.departureDateControl.requiredMessage }}
        </mat-error>
        <mat-error *ngIf="departureDateControl.hasError(validation_msgs.departureDateControl.minDate)">
          {{ validation_msgs.departureDateControl.minDateMessage }}
        </mat-error>
      </mat-form-field>
      <span class="spacer"></span>

      <!-- SECTION - Passengers -->
      <mat-form-field class="passengers-form-field" [formGroup]="passengerCountsFormGroup">
        <mat-label class="label-small">Passengers *</mat-label>
        <div class="passengers-form-value flex-center" [matMenuTriggerFor]="passengerCountsMenu">
          <input matInput type="text" readonly [value]="displayPassengerCount()" />
          <img src="./assets/icon_arrow_drop_down.svg" alt="icon arrow" />
        </div>
        <mat-menu class="passengers-form-menu-container" #passengerCountsMenu="matMenu">
          <div class="flex-center" (click)="onMenuItemClick($event)">
            <div>
              <span style="color: #11397e">Adult</span>
              <br />
              <span class="body-medium" style="color: #74767a">14+ years</span>
            </div>
            <span class="spacer"></span>
            <span class="flex-center">
              <button class="btn-counter" mat-icon-button (click)="decrementPassengersCount('adults')"
                [disabled]="passengerCountsFormGroup.value.adults === 1">
                <mat-icon>remove</mat-icon>
              </button>
              <span class="body-medium">{{ passengerCountsFormGroup.value.adults }}</span>
              <button class="btn-counter" mat-icon-button (click)="incrementPassengersCount('adults')">
                <mat-icon>add</mat-icon>
              </button>
            </span>
          </div>

          <div class="flex-center" (click)="onMenuItemClick($event)">
            <div>
              <span [ngStyle]="{
                  color:
                    passengerCountsFormGroup.value.children > 0
                      ? '#11397e'
                      : '#1C1B1F'
                }">Child</span>
              <br />
              <span class="body-medium" style="color: #74767a">2-14 years</span>
            </div>
            <span class="spacer"></span>
            <span class="flex-center">
              <button class="btn-counter" mat-icon-button (click)="decrementPassengersCount('children')"
                [disabled]="passengerCountsFormGroup.value.children === 0">
                <mat-icon>remove</mat-icon>
              </button>
              <span class="body-medium" [ngStyle]="{
                  color:
                    passengerCountsFormGroup.value.children > 0
                      ? '#11397e'
                      : '#74767A'
                }">{{ passengerCountsFormGroup.value.children }}</span>
              <button class="btn-counter" mat-icon-button (click)="incrementPassengersCount('children')">
                <mat-icon>add</mat-icon>
              </button>
            </span>
          </div>

          <div class="flex-center" (click)="onMenuItemClick($event)">
            <div>
              <span [ngStyle]="{
                  color:
                    passengerCountsFormGroup.value.infants > 0
                      ? '#11397e'
                      : '#1C1B1F'
                }">Infant</span>
              <br />
              <span class="body-medium" style="color: #74767a">0-2 years</span>
            </div>
            <span class="spacer"></span>
            <span class="flex-center">
              <button class="btn-counter" mat-icon-button (click)="decrementPassengersCount('infants')"
                [disabled]="passengerCountsFormGroup.value.infants === 0">
                <mat-icon>remove</mat-icon>
              </button>
              <span class="body-medium" [ngStyle]="{
                  color:
                    passengerCountsFormGroup.value.infants > 0
                      ? '#11397e'
                      : '#74767A'
                }">{{ passengerCountsFormGroup.value.infants }}</span>
              <button class="btn-counter" mat-icon-button (click)="incrementPassengersCount('infants')">
                <mat-icon>add</mat-icon>
              </button>
            </span>
          </div>
        </mat-menu>
      </mat-form-field>
    </div>

    <div class="submit-btn-container flex-center">
      <button class="btn btn-search" mat-flat-button color="primary" type="submit" [disabled]="!searchForm.valid">
        Search
      </button>
    </div>
  </form>
</div>