<div class="form-container">
  <form class="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <mat-radio-group
      class="radio-group-container flex-center"
      aria-label="Select an option"
      formControlName="typeOfFlights"
    >
      <mat-radio-button value="roundTrip" color="primary"> Round Trip </mat-radio-button>
      <mat-radio-button value="oneWay">One Way</mat-radio-button>
    </mat-radio-group>
    <div class="destinations-container">
      <button
        type="button"
        class="btn-reverse flex-center"
        (click)="switchDestinationsFields()"
        [disabled]="
          !fromWhere?.destinationControl?.valid || !destination?.destinationControl?.valid
        "
      >
        <img src="./assets/button_reverse.svg" alt="button_reverse" />
      </button>
      <app-destination-form-field
        #fromWhere
        [initialValue]="fromWhereInitialValue"
        [label]="'From'"
      ></app-destination-form-field>
      <app-destination-form-field
        #destination
        [initialValue]="toWhereInitialValue"
        [label]="'Destination'"
      ></app-destination-form-field>
    </div>
    <div class="flex-center">
      <app-datepicker-range
        *ngIf="isRoundTrip()"
        [departureDateInitialValue]="departureDateInitialValue"
        [returnDateInitialValue]="returnDateInitialValue"
      ></app-datepicker-range>
      <app-datepicker
        *ngIf="isOneWay()"
        [initialValue]="departureDateInitialValue"
      ></app-datepicker>
      <span class="spacer"></span>
      <app-passengers-form-field
        [adultsInitialValue]="adultsInitialValue"
        [childrenInitialValue]="childrenInitialValue"
        [infantsInitialValue]="infantsInitialValue"
      ></app-passengers-form-field>
    </div>
    <div class="submit-btn-container flex-center">
      <button class="btn btn-search" mat-flat-button color="primary" type="submit">Search</button>
    </div>
  </form>
</div>
