@import 'variables';
@import 'mixins';

.form-container {
  background: $color-neutral-65;
  border-radius: 8px;
  padding: 2.8rem 2.4rem;
  margin-top: 6rem;
  width: 58rem;
  float: left;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;

  ::ng-deep .mdc-text-field--filled {
    background-color: $color-secondary-90;
    border-radius: 4px;
    border: 1px solid $color-secondary-40;
  }
  ::ng-deep .mdc-text-field--focused {
    background-color: $color-secondary-50;
    border: 1px solid $color-secondary;
  }
}

.radio-group-container {
  gap: 3rem;
}

:host {
  ::ng-deep .mat-mdc-radio-button .mdc-form-field {
    @include font($font-size-16, $font-weight-500);
    color: $color-primary;
  }
  ::ng-deep
    .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    border-color: $color-primary;
  }
  ::ng-deep
    .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled:checked
    + .mdc-radio__background
    .mdc-radio__outer-circle {
    border-color: $color-primary;
  }
}

.destinations-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  ::ng-deep .mat-mdc-form-field:not(.mat-form-field-invalid) .mat-mdc-form-field-subscript-wrapper {
    height: 0px;
  }
  .btn-reverse {
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 999;
    transform: translate(0, -50%);
  }
}

.date-range-form-field {
  width: 311px;
}
::ng-deep.mat-datepicker-content {
  margin-top: 2rem;
}

.passengers-form-field {
  width: 200px;
  height: 81px;
  .passengers-form-value {
    input {
      max-width: 100%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
::ng-deep .passengers-form-menu-container.mat-mdc-menu-panel.mat-mdc-menu-panel {
  width: 200px;
  padding: 1rem;
  margin-top: 1px;
  margin-left: -16px;
  .mat-mdc-menu-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.submit-btn-container {
  justify-content: flex-end;
}

.btn-reverse {
  background-color: inherit;
  border: none;
  cursor: pointer;
  img {
    width: 40px;
    height: 40px;
  }
  :hover :not([disabled]) {
    transition-duration: 0.5s;
    transform: scale(1.2);
  }
  &[disabled] {
    cursor: not-allowed;
  }
}
