@import 'variables';
@import 'mixins';

.form-container {
  background: $color-neutral-65;
  border-radius: 0.8rem;
  padding: 2.8rem 2.4rem;
  width: 58rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;

  ::ng-deep .mdc-text-field--filled {
    background-color: $color-secondary-90;
    border-radius: 0.4rem;
    border: 0.1rem solid $color-secondary-40;
  }
  ::ng-deep .mdc-text-field--focused {
    background-color: $color-secondary-50;
    border: 0.1rem solid $color-primary;
  }
}

.radio-group-container {
  gap: 3rem;
}

:host {
  ::ng-deep .mat-mdc-radio-button .mdc-form-field {
    @include font($font-size-16, $font-weight-500);
    color: $color-primary;
  }
  ::ng-deep
    .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    border-color: $color-primary;
  }
  ::ng-deep
    .mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled:checked
    + .mdc-radio__background
    .mdc-radio__outer-circle {
    border-color: $color-primary;
  }
}

.destinations-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  ::ng-deep .mat-mdc-form-field:not(.mat-form-field-invalid) .mat-mdc-form-field-subscript-wrapper {
    height: 0rem;
  }
  .btn-reverse {
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 999;
    transform: translate(0, -50%);
  }
}

.submit-btn-container {
  justify-content: flex-end;
}

.btn-reverse {
  background-color: inherit;
  border: none;
  cursor: pointer;
  img {
    width: 4rem;
    height: 4rem;
  }
  :hover :not([disabled]) {
    transition-duration: 0.5s;
    transform: scale(1.2);
  }
  &[disabled] {
    cursor: not-allowed;
  }
}
